body{
	font-family: "Arial";
	max-width: 100%;
	font-size: 18px;
	font-weight: 700;
	display: flex;
	margin: 0;
}

header{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	background: #FFB440;
	height: 77px;
	border: 1px solid black;
}
.logo{
	font-size: 36px;
	font-weight: 700;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 12px 52px;
	margin: 6px 9px 6px;
	border-radius: 20px;
	background-color: white;
}
.settings{
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 20px 20px;
	width: 40px;
	height: 40px;
}
.info{
	display: flex;
	flex-direction: row;
}
.sidebar{
	flex: 4;
	display: flex;
	flex-direction: column;
	width: 259px;
	background: white;
	border: 1px solid black;
}
.item{
	border: 3px solid black;
	margin-bottom: 13px;
	padding: 9px 12px;
	border-radius: 20px;
	border-color:#FFB440;
	margin-top: 5px;
}
.main{
	flex: 5;
}
.userstat{
	font-size: 24px;
	display: flex;
	justify-content: space-between;
	background: #FFFFFF;
	border: 1px solid #000000;
}
.name{
	margin: 6px 13px;
}
.netstatus{
	margin: 6px 6px 6px 0px;
}

.right,.left{
	flex: 1;
	background: white;
}
.uspage{
	flex: 9;
	background: white;
}
.page{
	display: flex;
	flex-direction: row;
}
.photo{
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 24px;
	width: 300px;
	height: 300px;
	background: #C4C4C4;
	margin-bottom: 15px;
}
.jpg{
	display: flex;
	justify-content: center;
	align-items: center;
	width: 300px;
	height: 300px;
}

.actions{
	display: flex;
	flex-direction: column;
}
.acts{
	display: flex;
	flex-direction: row;
}
.oth{
	align-items: center;
	display: flex;
	flex-direction: column;
}
.folnums{
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	width: 301px;
	height: 20px;
}
.write, .befriend{
	font-size: 15px;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	background: #FFFFFF;
	width: 145px;
	height: 50px;
	margin-bottom: 6px;
	margin-right: 11px;
	border-radius: 20px;
	border: 3px solid #FFB440;
}
.befriend{
	margin-right: 0px;
}
.rpage{
	margin:20px ;
	align-items: center;
	flex-direction: column;
}
.lpage{
	flex: 1;
	align-items: center;
	flex-direction: column;
	border: 1px solid black;
	border-top: 0ch;
	background-color: #FFB440;
}
.news{
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	width: 195px;
	height: 25px;
	background: white;
	margin-bottom: 11px;
	border-radius: 20px;
	border: 3px solid #FFB440;
}
.friends{
	margin-bottom: 16px;
}
.friends,.onfriends{
	width: 300px;
	height: 150px;
	background: #FFB440;
}
.headfr,.onheadfr{
	display: flex;
	align-items: center;
	text-align: center;
	height: 35px;
	background: #FFFFFF;
	padding-left: 8px;
	border: 0px solid #FFB440;
}
.frphotos, .onfrphotos{
	display: flex;
	flex-wrap: wrap;
}
.frphotos>div,.onfrphotos>div{
	margin-left: 11px;
	margin-right: 11px;
	margin-top: 3px;

	width: 50px;
	height: 50px;
	border: 1px solid #000000;
	background-color: #FFFFFF;
}
.status{
	font-size: 24px;
	width: 420px;
	height: 40px;
	background-color: #FFB440;
	justify-content: center;
	display: flex;
	align-items: center;
	margin: 16px 0px 19px 0px;
	color: white;
}
.addinfo{
	width: 420px;
	font-size: 18px;
	font-weight: 400;
	background-color: #ffffff;
	padding-bottom: 24px;

}

.addinfo>.main{
	padding: 7px 14px;
}
.addinfo>.more{
	display: flex;
	justify-content: center;
	margin-top: 28px;
	margin-bottom: 24px;
}

.selfphoto{
	margin-top: 7.5px;
	width: 420px;
	height: 147.5px;
	background: #ffffff;
}
.selfphoto>.photos{
	font-size: 18px;
	display: flex;
	align-items: center;
	text-align: center;
	height: 25px;
	background: #FFB440;
	padding-left: 8px;
	color: #FFFFFF;
}
.photolist{
	display: flex;
	flex-wrap: wrap;
	background-color: #FFFFFF;
}
.photolist>div{
	margin-left: 11px;
	margin-right: 11px;
	margin-top: 5.5px;
	width: 115px;
	height: 115px;
}
.ph{
	width: 115px;
	height: 115px;
}

.post{
	width: 420px;
	font-size: 9px;
	font-weight: 400;
	background-color: #ffffff;
	padding-bottom: 24px;
	margin-top: 16.5px;
}
.posthd{
	font-size: 18px;
	display: flex;
	justify-content: space-between;
	height: 25px;
	background: #FFB440;
	padding-left: 8px;
	color: #FFFFFF;
}
.find{
	width: 100px;
	height: 15px;
	font-size: 14px;
	background-color: #ffffff;
	display: flex;
	justify-content: center;
	margin-top: 0px;
	margin-right: 9px;
	color: #000000;
}
.frpost{
	display: flex;
	flex-direction: row;

}
.postphoto{
	display: flex;
	justify-content: center;
	align-items: center;
	width: 50px;
	height: 50px;
	border: 1px solid #000000;
	margin-top: 10px;
	margin-left: 16px;
}
.postinfo{
	margin-left: 10px;
	padding-top: 16px;
}
.postinfo-2{
	margin-left: 10px;
	padding-top: 20px;
}
.postcontent{
	width: 315px;
	height: 115px;
	border: 1px solid #000000;
	margin-top: 8px;
	display: flex;
	justify-content: center;
	align-items: center;
}
@media (max-width: 600px) {
	.sidebar,.right,.left{
		display: none;
	}
	.logo{
		max-width: 5px;
		max-height: 20px;
		font-size: 18px;

	}
	.mobile{
		display: inline;
	}
	.settings{
		width: 25px;
		height: 25px;
		padding: 15px;
	}
	header{
		height: 50px;
	}
	.page{
		align-items: center;
		display: flex;
		flex-direction: column;
	}
	.rpage{
		margin: 0;
	}
	.lpage{
		margin: 20px;
	}
	.lpage,.rpage{
		padding: 0px;
		margin-top:20px;
	}
}